
<div class="page">
    <h1>Welcome to CSE Motors!</h1>
    <%- messages() %>
    <div id="dmc-dolerean">
        <div id="dmc-content">
            <h2>DMC Delorean</h2>
            <p>3 Cup holders</p>
            <p>Superman Doors</p>
            <p>Fuzzy dice!</p>
            <button>Own Today</button>
            
        </div>
    </div>
        <h3 id="dolorean-title">Dolorean Upgrades</h3>
    <div id="home-divider">
        <div id="upgrades">
            <div class="upgrade-item">
                <a href="#">
                    <img src="/images/upgrades/bumper_sticker.jpg" alt="Bumper Sticker">
                    <p>Bumper Sticker</p>
                </a>
            </div>

            <div class="upgrade-item">
                <a href="#">
                    <img src="/images/upgrades/flame.jpg" alt="Flame Decals">
                    <p>Flame Decals</p>
                </a>
            </div>

            <div class="upgrade-item">
                <a href="#">
                    <img src="/images/upgrades/flux-cap.png" alt="Flux Capacitor">
                    <p>Flux Capacitor</p>
                </a>
            </div>

            <div class="upgrade-item">
                <a href="#">
                    <img src="/images/upgrades/hub-cap.jpg" alt="Hub Caps">
                    <p>Hub Caps</p>
                </a>
            </div>
        </div>
        <div id="reviews">
            <h3>DMC Dolerean Reviews</h3>
            <ul>
                <li>
                    "So fast it's almost like traveling in time." (4/5)</li>
                <li>
                    "Coolest ride on the road." (4/5)
                <li>
                    "The most futuristic ride of our day." (4.5/5)</li>
                <li>
                    "80s livin and I love it!."(5/5)
                </li>
            </ul>
        </div>
    </div>
</div>