/******* Change Box Model ***************

*,
*:before,
*:after {
  box-sizing: border-box;
}
/*fonts and colors*/
:root{
  --primary-color: #1B1B1E;
  --secondary-color: #023e8a;
  --header-font: 'Montserrat';
  --body-font : 'Open Sans';
}

body{
  background-image: url(/images/site/checkerboard.jpg);
  
  z-index: -1000;
}

nav{
  background-color: #354f52;
}

#wrapper{
  background-color: white;
  border: solid #354f52 2px;
  padding: 20px;
  margin: auto;
  border-radius: 10px;
  max-width: 1100px;
  padding: 1rem;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  
  
}

/*large screen view*/
#top-header{
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.siteName a{
  font-family: var(--header-font);
  color:var(--primary-color);
}

#tools a{
  font-family: var(--body-font);
  color:var(--primary-color);
  font-size: larger;
}
a{
  text-decoration: none;
  
}
a:hover {
  transform: scale(2);
  transition: transform 0.3s ease-in-out;
}
.siteName{
  font-family: var(--header-font);
  font-size: 2em;
  font-weight: bold;
  
}
nav ul li{
  list-style-type: none;
  margin: 0 auto;
}

nav ul{
  display: flex;
  align-content: space-between;
  font-size: 1.1em;
  font-weight: bold;
  font-family: var(--header-font);
  color: white;
  padding: 15px;
 
}

nav ul a{
  color:white;
}

#dmc-dolerean{
  background-image: url(/images/vehicles/delorean.jpg);
  background-position: center;
  z-index: 1000;
  background-repeat: no-repeat;
  margin: 50px;
}


#dmc-dolerean button{
  background-color: #354f52;
  padding: 10px;
  width: 120px;
  color: white;
  font-family: var(--body-font);
  font-weight: bold;
}

#dolorean-title{
  font-family: var(--header-font);
}

#dmc-content{
  color:#354f52;
  font-weight: bold;
  font-size: larger;
  line-height: 1.2em;
 
}

#home-divider{
  margin-top: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  
}

#upgrades{
  display:grid;
  grid-template-columns: 0.3fr 0.3fr;
  column-gap: 15px;
}

.upgrade-item img{
  background-color: #354f52;
  padding: 8px 40px 8px 40px;
  height: 100px;
  width: 150px;
}

.upgrade-item a{
  font-family: var(--body-font);
  color:var(--primary-color);
  text-align: center;
  text-decoration: underline;
}

#reviews h3, #upgrades h3{
  font-family: var(--header-font);
} 
#reviews li{
  text-align: left;
  font-family: var(--body-font);
  line-height: 3em;
}

/*vehicle detail page*/
#inv-display h2:hover{
  scale:0.9;
}

#inv-display h2::after{
  font-size: smaller;
}

#inv-display{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items:flex-end ;
  gap: 20px;
  text-align: center;
  font-family: var(--body-font);
  list-style-type: none;
  border-style: none;
  color: var(--primary-color);
}

/*login page*/
 #login-form{
  margin: 0 auto;
  max-width: 50%;
  border-radius:10px;
  padding: 10px;
  border: solid #354f52;
  box-shadow: 2px 2px #354f52;
  
 }
 #login-form input, label{
  padding: 5px;
  width: 50%;
  margin: 10px 0px 10px 50px;
  
 }

 #login-form button{
  box-shadow: 2px 2px #354f52;
  width: 10%;
  padding: 5px;
  border-radius: 10px;
  margin-left: 50px;
 }

 #login-form label, p, button{
  font-family: var(--body-font);
  color:#354f52;
  font-weight: bold;
}

#login-form input{
  box-shadow: 2px 2px #354f52;
}

#login-form p{
  margin-left: 20px;
}

/*Register page*/
#register-form input,#addClass-form input, #addInv-form input {
  width: 50%;
  padding: 12px;
  margin: 10px auto;
  border: 2px solid #354f52;
  border-radius: 5px;
  
}

#register-form input:hover {
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.94);
}

#register-form label,#addClass-form label, #addInv-form label {
  font-family: var(--body-font);
  font-size: 1.1rem;
  padding: 10px;
  margin-left: 5px;
  margin-top: 10px;
  color:#354f52;
  font-weight: bold;
}

#registerbtn{
  margin-top: 30px;
  padding: 15px;
  text-align: center;
  cursor: pointer;
  width: 180px;
  display: block;
  margin: 10px 10px;
  border: none;
  border-radius: 5px;
}

#registerbtn:hover{
  background-color: rgb(155, 152, 152);
  transform: scale(0.9);
}

#register-form fieldset{
  border: 2px solid #354f52;
  border-radius: 5px;
}

/*management view*/
#management-view a{
  text-align: center;
  font-family: var(--body-font);
  font-size: larger;
  display: block;
  line-height: 2rem;
  color: var(--primary-color);
  
}

#management-view a:hover{
  transform: scale(0.9);
}

/*add classification view*/

#addClass-form button{
padding: 10px;

}

/*add Inventory form*/
#addInv-form button{
  padding: 10px;
  width: 150px;
}
#class-selection{
  padding: 10px;
  color: var(--primary-color);
  font-family: var(--body-font);
  font-size: larger;
}

/*Account update form*/


.updateform{
  margin: 0 auto;
  max-width: 50%;
  border-radius:10px;
  padding: 10px;
  border: solid #354f52;
  box-shadow: 2px 2px #354f52;
  margin-bottom: 10px;
  
 }
 .updateform input, label{
  padding: 5px;
  width: 50%;
  margin: 10px 0px 10px 50px;
  
 }

 .updateform button{
  box-shadow: 2px 2px #354f52;
  width: 30%;
  padding: 5px;
  border-radius: 10px;
  
  
 }

 .updateform label, p, button{
  font-family: var(--body-font);
  color:#354f52;
  font-weight: bold;
}

.updateform input{
  box-shadow: 2px 2px #354f52;
}

.search-bar {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.search-bar input {
  padding: 0.5rem;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.search-btn {
  background: #007bff;
  color: white;
  border: none;
  padding: 0.5rem 0.8rem;
  border-radius: 4px;
  cursor: pointer;
}

/*small screen view*/

@media only screen and (max-width: 640px){
  body{
    background-image:none;
  }

  .page{
    display:flex;
    flex-direction: column;
    
  }

  nav ul{
    font-size: smaller;
  }

  #reviews{
    margin-bottom: 20px;
  }
  #home-divider{
    display: flex;
    flex-direction: column-reverse;
    max-width: 100%;
    
  }

  #upgrades{
    margin: 0 auto;
    gap: 50px;
  }

  .upgrade-item img{
    width: 100px;
    padding: 20px;
   
  }

  #dmc-dolerean{
    height:200px;
    background-size: contain;
    
  }

  #dmc-content{
  font-size: smaller;
  margin: auto -55px;
  font-weight: 900;
  }

#dmc-dolerean button{
  width: 120px;

}

#wrapper{
  background-color: white;
  border:none;
  padding:5px;
  margin: 0;
  border-radius:0px;
}

#dolorean-title{
  display: none;
}
/*vehicle detail page*/

.vehicleCard{
  display: flex;
  flex-direction: column;
  text-align: center;
  font-family: var(--body-font);
}

/*classification page*/
#inv-display li{
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  
  
}
/*login page*/
#login-form button{
  width:50%;
}

}

