<% if (title){%>
<h1><%= title %></h1>
<%} else{
    res.redirect('/')
}%>

<%- messages() %>

<div id="management-view">
    <a href="/inv/add-classification">Add New Classification</a>
    <a href="/inv/addInventory">Add New Vehicle</a>
</div>

<h2>Manage Inventory</h2>
<p>Select Vehicle Classification</p>
 <%- classificationList %>

<table id="inventoryDisplay"></table>

<noscript>Javascript must be enabled to use this page.</noscript>

<script src="/js/inventory.js"></script>